<<<<<<< HEAD
.container
  #spinner
    .rect1
    .rect2
    .rect3
    .rect4
    .rect5
  input#speech(type='text')
  //button#rec.btn(disabled="disabled") Speak
  button#reset.btn Reset
  #spokenResponse.spoken-response
    .spoken-response__text
.debug
  .debug__btn.btn
    | Debug JSON results
  .debug__content
    textarea#response(cols='40', rows='20')
link(href='https://fonts.googleapis.com/css?family=Titillium+Web:200', rel='stylesheet', type='text/css')
=======
.campaign
  .clearfix
    .campaign__logo
      img
    .campaign__summary
      h1.campaign__title Campaign Name
      p.campaign__description Campaign Description
    .farmraiser-logo
      img
  .campaign__products.clearfix
    .campaign__product.clearfix
      .product__img-wrapper
        img
      .product__summary
        p.product__title Product Name
        p.product__description Product Description
        p.produce__vendor Vendor Name
      .product__price
        span price
        span $
    .campaign__product.clearfix
      .product__img-wrapper
        img
      .product__summary
        p.product__title Product Name
        p.product__description Product Description
        p.produce__vendor Vendor Name
      .product__price
        span price
        span $
    .campaign__product.clearfix
      .product__img-wrapper
        img
      .product__summary
        p.product__title Product Name
        p.product__description Product Description
        p.produce__vendor Vendor Name
      .product__price
        span price
        span $
    .campaign__product.clearfix
      .product__img-wrapper
        img
      .product__summary
        p.product__title Product Name
        p.product__description Product Description
        p.produce__vendor Vendor Name
      .product__price
        span price
        span $
    .campaign__product.clearfix
      .product__img-wrapper
        img
      .product__summary
        p.product__title Product Name
        p.product__description Product Description
        p.produce__vendor Vendor Name
      .product__price
        span price
        span $
>>>>>>> 554d73252edb11193110a5568838abbfc3c526d5
