.container
  .modes-actions
    button.btn(data-action-mode="seats-booking") Booking Seats Mode
    button.btn(data-action-mode="seats-layout") Edit Seats Layout Mode
    button.btn(data-action-mode="seats-type") Setting Seats Types
  .seats-grid
